<%- include('partials/header') -%>
<link rel="stylesheet" href="stylesheets/login.css" />
</head>
<body>
    <div class="login-wrap">
		<h1>Register</h1>
		<%if (typeof error != "undefined"){%>
			<p><%= error.message%></p>
			<%}%>
        <form action="/register" method="POST" class="form">

            <div class="form-group">
            <input type="text" placeholder="Name" class="form-control" name="name" id="name" require />
           </div>
            <div class="form-group">
            <input type="email" placeholder="Email address" class="form-control" id="email" name="email"  id="email" require />
           </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">+91</div>
                    </div>
                    <input type="number" class="form-control" id="inlineFormInputGroupUsername" name="contact" id="contact" placeholder="Contact number">
                  </div>
                </div>
           
            <div class="form-group">
            <input type="password" placeholder="Password" class="form-control" name="password" id="password" required />
            </div>

            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        
    </div>
